body{
    background-color: rgb(252, 205, 205);
}
div{
    background-color: azure;
    height: 100px;
    width: 100%;
    text-align: center;
}
h1{
    margin: auto;
    padding: 15px;
    font-size: 50px;
    font-family: cursive;
}

ul{
        list-style-type: none;
    }
li, a{
        display: inline-block;
        
        padding: 10px;
        text-align: center;
        text-decoration: none;
}
.nav-div{
    height: 65px;
    width: 100%;
    text-align: center;
    
}
table{
    background-color: rgb(205, 228, 227);
    margin: auto;
    width:100%;
}