*{
    padding: 5px;
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;   
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline-block;
    background-color: aquamarine;
    padding: 5px;
}
li:hover{
    background-color:gold;
    color : brown;
}
body{
    background-color: antiquewhite;
    color : darkslategray;
}
nav{
    text-align: center;
    border: 2px solid darkmagenta;
    padding: 20px;
}

a:link{
    color : red;
    text-decoration: none;
    cursor: zoom-in;
}

a:visited{
    color : yellow;
    text-decoration: none;
    cursor: zoom-in;
}
a:hover{
    color : blue;
    text-decoration: underline;
}
a:active{
    color : hotpink;
    text-decoration: underline;
}
div{
    display:inline-block;
    vertical-align: top;
    width:45%;
}
#one{
    text-indent: 40px;
    letter-spacing: 5px;

}
#two{
    word-spacing: 4px;
    
    
}
#three{
    line-height: 1.8;
    color: rgb(4, 41, 41);
}
#four{
    text-shadow: 2px 2px 5px greenyellow;
    word-spacing: 4px;
    text-transform: uppercase;
}
#five{
    
    text-shadow: 2px 2px 5px greenyellow;
    word-spacing: 4px;
    text-transform: uppercase;
}